.container{
    display : flex;
    flex-direction: column;
}

.title-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    font-size : 22px;
}

/* 버튼 컬럼 */
.button-column{
    display: flex;
    flex-direction: column;
}

/* 버튼 백그라운드 컬러 */
.button-column-background{
    width: 100%;
    height: 600px;
    z-index: 10;
}   

/* 버튼 백그라운드 이미지 */
.button-column-contents{
    padding : 10px;
    position: absolute;
    z-index: 50;  
    right : 10%;
    left : 10%;
}

.button-column-picture{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.button-columns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}