.container{
  background-color: #ecf0f1;
}

.login-container{
  display: flex;
  height: 100%;
  flex-direction: column;
  flex :1;
  justify-content: center;
  align-items: center;
}

.header{
  margin : 20px 0px;
}

.main{
  margin : 20px 0px;
}

#description{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  margin : 20px 0px;
  display: flex; 
}